.mainCont{
    /* border:1px solid black; */
    margin-top: 10.5vh;
    width: 100vw;
    height:88vh;
    display:flex;
}
.leftCont{
    border:1px solid rgb(210, 210, 210);
    border-top: 0;
    width:13vw;
    height:100%;
    display:flex;
    flex-direction:column;
    /* justify-content:space-around; */
    align-items:center;
    position:fixed;
}
#leftIcons{
    font-size:28px;

}
#leftIconsDiv{
    width: 80%;
    padding-left: 1vw;
    display:flex;   
    justify-content: start;
   
    gap: 1vw;
    margin-top:2vh;
}
hr{
    border: 1px solid rgb(210, 210, 210);
    width: 100%;
    margin-top: 2vh;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#rightCont{
    margin-left: 14vw;
    width:85vw;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-gap: 1%;
    padding-top: 5px;
}
#gridData{
    /* border: 0.5px solid grey; */
    width: 100%;
    height: 100%;
}
#thumImg{
    width:100%;
    height: 70%;
}
#videoDetails{
    text-align: left;
    padding-left: 5px;
}
#videoTitle{
    text-align: left;
    display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   margin-top: 0px;
   font-size: 15px;
   font-weight:500;
}
#videoChannel{
    font-size: 13px;    
    margin-top:-10px;
}

@media screen and (max-width:1250px){
    .leftCont{
        display: none;
    }

}